
<%- include('header'); -%>

<h1> About Me </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, doloremque quaerat deleniti, expedita provident dolorum minima at explicabo ratione praesentium reiciendis cumque. Natus ab adipisci corrupti sit commodi ratione neque.</p>

<%- include('footer'); -%>
